.section-4
  .container
    .box-head
      .inner-left
        .inner-sub-title Có thể bạn đã biết?
        h2.inner-title Kiến thức thú cưng hữu ích
      .inner-right
        a.button.button-outline(href="#") Xem thêm 
          i.fa-solid.fa-angle-right
    .inner-wrap
      .blog-item
        .inner-image
          a(href="#")
            img(src="assets/images/blog-1.jpg" alt="")
        .inner-content
          .inner-tag Kiến thức thú cưng
          h3.inner-title
            a(href="#") Pomeranian là gì? Cách nhận biết chó Pomeranian
          .inner-desc 
            | Pomeranian hay còn gọi là chó Pomeranian (chó Pom) luôn nằm trong top những thú cưng dễ thương nhất. Không chỉ vậy, giống chó xiếc nhỏ nhắn, đáng yêu, thông minh, thân thiện và khéo léo.
      .blog-item
        .inner-image
          a(href="#")
            img(src="assets/images/blog-2.jpg" alt="")
        .inner-content
          .inner-tag Kiến thức thú cưng
          h3.inner-title
            a(href="#") Chế độ ăn cho chó bạn cần biết
          .inner-desc 
            | Việc chia khẩu phần ăn cho chó thoạt nghe có vẻ đơn giản nhưng có một số quy tắc bạn nên biết để chó cưng dễ dàng hấp thụ các chất dinh dưỡng trong khẩu phần ăn. Dành cho những người mới bắt đầu nuôi chó, đặc biệt là chó con mới sinh có sức đề kháng tương đối yếu.
      .blog-item
        .inner-image
          a(href="#")
            img(src="assets/images/blog-3.jpg" alt="")
        .inner-content
          .inner-tag Kiến thức thú cưng
          h3.inner-title
            a(href="#") Tại sao chó cắn phá đồ đạc và cách phòng ngừa hiệu quả
          .inner-desc 
            | Chó cắn là hiện tượng phổ biến trong quá trình phát triển. Tuy nhiên, không ai muốn thấy đồ đạc, vật dụng quan trọng của mình bị chó cắn.

