.section-3
  .container
    .section-3__wrap
      .section-3__image
        img(
          alt="" 
          src="assets/images/section-3-image-1.png"
          )
      .section-3__content
        h2.section-3__title Thêm Một Bạn
        h3.section-3__sub-title Thêm Ngàn Niềm Vui!
        p.section-3__desc
          | Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
        .section-3__buttons
          a.button.button--outline(href="#")
            | Giới Thiệu
            i.fa-regular.fa-circle-play
          a.button(href="#") Khám Phá Ngay