doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block title
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
    link(rel="stylesheet", href="assets/css/style.css")
  
  body
    
    //- Header
    header.header
      .container
        .header__wrap
          button.header__button-menu
            i(class="fa-solid fa-bars")
          .header__logo
            a(href="index.html")
              img(src="assets/images/logo.svg" alt="Monito")
          nav.header__menu
            ul
              li
                a(href="index.html") Trang chủ
              li
                a(href="#") Danh mục
              li
                a(href="#") Giới Thiệu
              li
                a(href="#") Liên Hệ
          button.header__button-search
            i(class="fa-solid fa-magnifying-glass")
          form(action="" class="header__search")
            i(class="fa-solid fa-magnifying-glass")
            input(type="text" placeholder="Nhập từ khóa...")
          a(href="#" class="button") Tham Gia Cộng Đồng
    //- End Header

    block main

    //- Footer
footer.footer
  .container
    .inner-top
      h2.inner-title Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi
      form.inner-form(action="")
        input(type="email" placeholder="Nhập email của bạn...")
        button Đăng Ký Ngay

    .inner-middle
      nav.inner-links
        ul
          li
            a(href="#") Trang Chủ
          li
            a(href="#") Danh Mục
          li
            a(href="#") Giới Thiệu
          li
            a(href="#") Liên Hệ
      nav.inner-socials
        ul
          li
            a(href="#" target="_blank")
              i.fa-brands.fa-facebook
          li
            a(href="#" target="_blank")
              i.fa-brands.fa-x-twitter
          li
            a(href="#" target="_blank")
              i.fa-brands.fa-instagram
          li
            a(href="#" target="_blank")
              i.fa-brands.fa-youtube

    .inner-bottom
      .inner-copyright © 2023 28Tech. All rights reserved.
      .inner-logo
        a(href="index.html")
          img(src="assets/images/logo.svg" alt="")
      nav.inner-links
        ul
          li
            a(href="#") Điều khoản dịch vụ
          li
            a(href="#") Chính sách bảo mật

      
    //- End Footer